@font-face {
    font-family: 'josefin-Bold';
    src: url('./../fonts/josefin-sans-v25-latin-700.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'josefin-Regular';
    src: url('./../fonts/josefin-sans-v25-latin-regular.woff') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'aleo-Regular';
    src: url('./../fonts/aleo-v11-latin-regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}