.choose {
    height: 100vh;
    min-height: 600px;
    background-image: url("./../../img/choose-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}