.reviews {
    background-image: url("./../../img/reviewer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 731px;
}

.reviews__container {
    padding-top: 128px;
    text-align: center;
}

.reviews__title {
    font-family: 'aleo-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.reviews__card {
    display: flex;
    width: 1113px;
    background: #333333;
}

.reviews__text {
    padding: 20px;
}

.card__author {
    font-family: 'josefin-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FEFEFE;
    margin-bottom: 25px;
}

.card__descr {
    font-family: 'josefin-Regular';
    width: 581px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    font-size: 18px;
}